@charset 'utf-8';
body{background-color:#ffffff;color:#897777;}
p{text-indent:2em;font-size:16px;}
h1,h2,h3,h4,h5{font-family:'楷体';text-align: center;}
h1{font-size:50px;}
h2{font-size:45px;}
h3{font-size:40px;}
h4{font-size:35px;}
h5{font-size:30px;}
p{font-family: '华文宋体';text-indent: 2em;}
